.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 10px 20px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
    margin-top: 100px;
}
.subscribe, h6{
    color: grey;
}
footer{
    text-align: center;
    margin-bottom: none;
}